.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: calc(100vh - 70px);
}

.card {
    display: block;
    background: white;
    width: 300px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
}

.chatboxContainer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.chatbox {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding: 10px 15px;
    padding-right: 55px;
    font-size: 1em;
    margin-bottom: 2px;
}

.chatButton {
    background-color: red;
    color: white;
    font-size: 0.7em;
    height: 33px;
    margin-left: -55px;
    border-radius: 3px;
}