.mainNav {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: #005D70;
	padding: 20px;
}

.mainNavLeft {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: #005D70;
	padding: 10px;
}

.mainNav a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	/* margin: 0 15px; */
}

.mainNav a:hover {
    text-decoration: underline;
}

.mainNav a:last-child {
	text-decoration: none;
}
