.link {
	/* background: red; */
	text-decoration: none;
}

.mainNav {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: rgb(8, 8, 134);
	min-height: 40px;
	padding: 20px;
}

.burger {
	position: absolute;
	right: 10px;
	background: inherit;
	border: none;
}

.changed {
	position: absolute;
	right: 10px;
	border: none;
	background-color: inherit;
}

.line1,
.line2,
.line3 {
	width: 36px;
	height: 5px;
	background-color: white;
    margin: 6px 0;
    transition: 0.25s;
}

.changed .line1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.changed .line2 {
	opacity: 0;
}

.changed .line3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}
