.container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20vw;
    margin: 0 auto;
    width: 60vw;
    border-radius: 5px;
    flex-flow: column;
    text-align: center;
}

.header {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
}

.form {
    color: white;
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: 20px 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.formLabel {
    margin-bottom: 10px;    
}

.formInput {
    border-radius: 6px;
    border: 1px solid gray;
    padding: 10px;
    height: 25px;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.container::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    /* background: #5faaaa; */
    background:#D8D8D8;
	background: linear-gradient(130deg, rgb(36, 34, 128), #1e5863)
}

.loginButton {
    color: white;
    background: red;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    height: 35px;
    width: 60%;
    margin: 30px auto;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 0.9em;
}

.registerLink {
    color: rgb(230, 230, 230);
    font-size: 0.9rem;
    text-decoration: none;
}

.registerLink:hover {
    text-decoration: underline;
}

