.container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10vw;
    margin: 0 auto;
    width: 60vw;
    border-radius: 5px;
    flex-flow: column;
    text-align: center;
}

.legend {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    font-size: 2em;
    font-weight: 700;
}

.fieldset {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 0 auto;
}

.form {
    color: white;
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: 20px 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.formLabel {
    margin-bottom: 10px;    
}

.formInput {
    border-radius: 6px;
    border: 1px solid gray;
    padding: 10px;
    height: 25px;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.loginButton {
    color: white;
    background: red;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    height: 35px;
    width: 60%;
    margin: 30px auto;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 0.9em;
}

.registerLink {
    color: rgb(230, 230, 230);
    font-size: 0.9rem;
    text-decoration: none;
}

.registerLink:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 400px) {

    .loginButton {
        width: 20vw;
        margin-bottom: 20px;
    }

    .legend {
        /* color: black; */
        position: relative;
        top: -60px;
    }

    .form {
        background: white;
        border-radius: 5px;
        width: 50vw;
        margin: 0 auto;
    }

    .formLabel {
        color: black;
    }

    .formInput {
        width: 30vw;
    }

    .registerLink {
        margin: 20px;
    }
}

